# Environment variables
.env

# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS-specific junk
.DS_Store
Thumbs.db

# Optional: ignore SQL dump files if you don't want them in repo
*.sql
